.main-content, .main-page, .action-content, .p-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  margin-top: 104px;
  width: 500px;
  background-color: #f5f5f5;
}

.button-search {
  display: block;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-field {
  border: 1px solid grey;
  padding: 5px;
}
