<div class="main-page">
  <mat-card class="main-content">
    <mat-card-title>Bem-vindo ao BeeBank!</mat-card-title>
    <mat-card-subtitle>Abra sua conta online de forma facilitada.</mat-card-subtitle>
    <mat-card-actions class="action-content">
      <form [formGroup]="formHome" class="form-group" (ngSubmit)="procurarCpf()" >
        <p class="p-action">Digite seu CPF:</p>
        <input class="form-control" type="text" name="cpf" formControlName="cpf" id="campo-cpf" maxlength="11">
        <div class="button-search">
          <input mat-button type="submit" name="button" value="Procurar" class="submit-button">
        </div>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
