.main-content, .main-page, .action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  margin-top: 104px;
  width: 500px;
  background-color: #ffffff4d;
}

.button-search {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#campo-cpf {
  background-color: #ffffff;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #808080;
}

.submit-button {
  background-color: #e59b51;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: #ffffffde;
}

/* .submit-button:hover {
  transform: scale(1.1);
} */

.submit-button:disabled {
  background-color: #808080cc;
}

.p-action {
  color: #000000d8;
  margin-bottom: 0;
}
